body{
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 41, 41); 
}
button{
    width: auto;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: rgb(218, 216, 216);
    color: rgb(3, 41, 41);
    font-weight: bold;
    border: 0px solid  rgb(3, 41, 41);
    display: block;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
button:hover{
    cursor: pointer;
    border-radius: 0rem;
    background-color:  #1c1f44;
    color: rgb(255, 255, 255);
    
}
p{
    font-size: 200%;
}
h1{
    text-align: center;
    color: #1c1f44;
}

